.parent-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
}
.hi-myname{
  color: white;
  font-size: 40px;
  font-family: lexend;
  font-weight: bold;
  margin-left: 12vw;
  margin-bottom: 100px;
  max-width: 100vw;
}
.row{
  width: fit-content;

  gap: 1rem;
  padding-block: .5rem;

  
  align-items: center;

  flex-wrap: nowrap;

  display: grid;
  grid-auto-flow: column;


  padding: 40px;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}


.row[data-direction="right"]{
  --_animation-direction: reverse;
}
.row[data-direction="left"]{
  --_animation-direction: forwards;
}
.row[data-speed="slow"]{
  --_animation-duration: 120s;
}
.row[data-speed="fast"]{
  --_animation-duration: 40s;
}
.row-holder {
  margin-top: auto;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  transition: padding 0.3s ease;
  width: 100%;
  cursor: grab;

  user-select: none;
  background-color: transparent;
} 

.row-holder:active {
  cursor: grabbing; 
  background-color: transparent;
}
.row, .piece {
  user-select: none; 
  cursor: grab;      
}

.row:active, .piece:active {
  cursor: grabbing; 
}
.row-holder-holder{
  margin-bottom: 1px;
}
.project-arrow-button{
  position: absolute;
}

.piece{
  background-color: black;
  overflow: hidden;
  object-fit: cover;
  min-height: 270px;
  max-height: 270px;
  min-width: var(--_piece-width, 475px);
  max-width: var(--_piece-width, 475px);
  border-radius: 10px;
  display: inline-block;

  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.679);
  
  background-size: cover;
  background-position: center;
  transition: transform .15s  cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.piece:nth-child(even):hover{
  position: relative;
  transform: scale(1.2) rotate(-2deg);
  z-index:  1000;
  box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159);
  outline: var(--cardhighlightWidth) auto var(--cardhighlightColour);
}
.piece:nth-child(odd):hover{
  position: relative;
  transform: scale(1.2) rotate(2deg);
  z-index:  1000;
  box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159);
  outline: var(--cardhighlightWidth) auto var(--cardhighlightColour);
}
.piece:hover .project-cards-text{
  opacity: 100%;
  background-color: rgba(184, 123, 16, 0.626);
}
.piece:hover{
  background-color: black;
}

.displaypiece{
  background-color: black;
  overflow: hidden;
  object-fit: cover;
  margin-left: 15%;
  min-height: 70vh;
  min-width: 70%;
  border-radius: 10px;
  display: inline-block;

  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.679);
  
  background-size: cover;
  background-position: center;
  transition: transform .15s  cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.displayproject-cards-text{
  color: whitesmoke;
  font-size: 52px;
  word-wrap: break-word;
  text-align: center;
  top: 50%;
  height: 20vh;
  width: 100%;
  margin: auto;
  opacity: 100%;
  font-weight: bold;
  background-color: rgba(184, 123, 16, 0.626);
  transition: opacity 1s;
}
.displaypiece:hover{
  position: relative;
  transform: scale(1.05) rotate(-2deg);
  z-index:  1000;
  box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159);
  outline: var(--cardhighlightWidth) auto var(--cardhighlightColour);
}
.pidisplaypieceece:hover .project-cards-text{
  opacity: 100%;
  background-color: rgba(184, 123, 16, 0.626);
}
.displaypiece:hover{
  background-color: black;
}

.project-cards-text{
  background-size: cover;
  color: whitesmoke;
  font-size: 32px;
  text-align: center;
  top: 50%;
  height: 100%;
  width: 100%;
  margin: auto;
  opacity: 0%;
  transition: opacity 1s;
  font-weight: bold;
}



/* Fill in the project images */
.project1-image{
  background-image: url('Images/Thumbnails/EggsyBanner.png');;
}
.project2-image{
  background-image: url('Images/Thumbnails/HouseOnFireThumbnail.png');
}
.project3-image{
  background-image: url('Images/Thumbnails/GameArt2.jpg');
}
.project4-image{
  background-image: url('Images/Thumbnails/HexGame.png');
}
.project5-image{
  background-image: url('Images/Thumbnails/RandyThumbnail.png');
}

.project7-image{
  background-image: url('Images/Thumbnails/AppliedGames2.png');
}
.project8-image{
  background-image: url('Images/Thumbnails/Rattatouille.png');
}
.project9-image{
  background-image: url('Images/Thumbnails/PoliceGame.png');
}
.project10-image{
  background-image: url('Images/Temp/MobileGame.jpg');
}