body{
  background-color: rgb(0, 30, 30);
}
*{
  color: whitesmoke;
  font-family: lexend;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.679);
  cursor: url(Images/CustomCursor.png), auto;
}
.project-title{
  color: whitesmoke;
  font-family: lexend;
  font-size: 500%;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
}
.project-description{
  margin-top: 0;
  max-width: 50%;
  font-size: 150%;
  display: block;
  text-align: center;
  margin-left: 25%;
  margin-right: 20%;
  font-weight: bold;
}
.explanation-container {
  margin-top: 100px;
  margin-bottom: 20px;
  overflow: hidden; /* Clear floats */
}
.explanation-title{
  font-size: 200%;
  font-weight: bold;
}
.explanation-text {
  font-size: 100%;
  font-weight: bold;
}

.explanation-image {
  width: 25%;
  border-radius: 10px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.679);
}
.project-link{
  text-align: center;
  color: rgb(0, 149, 255);
}
.second-part{
  margin-top: 0px;
}
.parent-container{
  width: 90vw;
  margin-left: 3vw;
}


.bg {
  background: radial-gradient(circle at center, #f4b12e, #dc981a 80%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}
.fadeout{
  background: radial-gradient(circle at center, transparent 20%, #f4b12e 100%);
  position: absolute;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.star-pattern {
  background-image: url(Images/StarBG.png);
  background-size: 8%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0.2;
  animation: pan 180s linear infinite;
}
@keyframes pan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}