body{
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.bg {
  background: radial-gradient(circle at center, #f4b12e, #dc981a 80%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}
.fadeout{
  background: radial-gradient(circle at center, transparent 20%, #f4b12e 100%);
  position: absolute;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.star-pattern {
  background-image: url(Images/StarBG.png);
  background-size: 8%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0.2;
  animation: pan 180s linear infinite;
}
@keyframes pan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

*{
  color: whitesmoke;
  font-family: lexend;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.679);
  cursor: url(Images/CustomCursor.png), auto;
}
.row{
  width: fit-content;

  gap: 1rem;
  padding-block: .5rem;

  
  align-items: center;

  flex-wrap: nowrap;

  display: flex;

  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.row[data-direction="right"]{
  --_animation-direction: reverse;
}
.row[data-direction="left"]{
  --_animation-direction: forwards;
}
.row[data-speed="slow"]{
  --_animation-duration: 120s;
}
.row[data-speed="fast"]{
  --_animation-duration: 40s;
}
.row-holder{
  margin-top: auto;

  overflow: hidden;
  -webkit-mask:
   linear-gradient(90deg,transparent, white 10%, white 90%, transparent);
  mask: linear-gradient(90deg,transparent, white 10%, white 90%, transparent);
}
.row-holder-holder{
  margin-bottom: 80px;
}
.piece{
  background-color: black;
  overflow: hidden;
  object-fit: cover;
  min-height: 270px;
  max-height: 270px;
  min-width: var(--_piece-width, 475px);
  max-width: var(--_piece-width, 475px);
  border-radius: 10px;
  display: inline-block;
  transition: transform .3s ease-in-out;

  
  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.679);
  /* box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159); */
  
  background-size: cover;
  background-position: center;
}

.piece:hover{
  transform: scale(1.1); 
}
.piece:hover .project-cards-text{
  opacity: 100%;
}
a {
  text-decoration: none; /* Remove underline */
}
.project-cards-text{
  background-size: cover;
  color: whitesmoke;
  font-size: 32px;
  text-align: center;
  top: 50%;
  height: 100%;
  width: 100%;
  margin: auto;
  opacity: 0%;
  transition: opacity 1s;
}
.hi-myname{
  color: white;
  font-size: 45px;
  font-family: lexend;
  font-weight: bold;
  margin-left: 12vw;
  margin-bottom: 200px;
}
@keyframes scroll{
  to{
    transform: translate(calc(-50% - .5rem));
  }
}
.active {
  background-color: #2d456c;
}
ul {
  position: sticky;
  top: 2%;
  z-index: 1000;

  margin-left: 5vw;
  display: inline-block;
  border-radius: 10px;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #1f2125;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.679);
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Fill in the project images */
.project1-image{
  background-image: url('Images/Thumbnails/BallIstic.png');
}
.project2-image{
  background-image: url('Images/Thumbnails/HouseOnFire.png');
}
.project3-image{
  background-image: url('Images/Thumbnails/GameArt2.jpg');
}
.project4-image{
  background-image: url('Images/Thumbnails/HexGame.png');
}
.project5-image{
  background-image: url('Images/Thumbnails/Tree.png');
}

.project7-image{
  background-image: url('Images/Temp/TempAppliedGames.png');
}
.project8-image{
  background-image: url('Images/Thumbnails/Rattatouille.png');
}
.project9-image{
  background-image: url('Images/Thumbnails/Windmill_Final_Sebastien_Surmont.jpg');
}
.project10-image{
  background-image: url('Images/Thumbnails/SesameStreet.png');
}