:root {
  --cardhighlightColour: whitesmoke;
  --cardhighlightWidth: 5px;
}

ul {
  position: sticky;
  top: 2%;
  margin-left: 3vw;
  display: inline-block;
  border-radius: 10px;
  list-style-type: none;
  padding: 0;
  z-index: 1000;
  background-color: #1f2125;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.679);
  font-weight: bold;
  overflow: hidden;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #2d456c;
}



body{
  overflow-x: hidden;
}
.bg {
  background: radial-gradient(circle at center, #f4b12e, #dc981a 80%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}
.fadeout{
  background: radial-gradient(circle at center, transparent 20%, #f4b12e 100%);
  position: absolute;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.star-pattern {
  background-image: url(Images/StarBG.png);
  background-size: 8%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0.2;
  animation: pan 180s linear infinite;
}
@keyframes pan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

*{
  color: whitesmoke;
  font-family: lexend;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.679);
  cursor: url(Images/CustomCursor.png), auto;
}
.row{
  width: fit-content;

  gap: 1rem;
  padding-block: .5rem;

  
  align-items: center;

  flex-wrap: nowrap;

  display: grid;
  grid-auto-flow: column;


  padding: 40px;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.row[data-direction="right"]{
  --_animation-direction: reverse;
}
.row[data-direction="left"]{
  --_animation-direction: forwards;
}
.row[data-speed="slow"]{
  --_animation-duration: 120s;
}
.row[data-speed="fast"]{
  --_animation-duration: 40s;
}
.row-holder {
  margin-top: auto;
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
  transition: padding 0.3s ease;
  width: 100%;
}
.row-holder-holder{
  margin-bottom: 1px;
}
.project-arrow-button{
  position: absolute;
}

.piece{
  background-color: black;
  overflow: hidden;
  object-fit: cover;
  min-height: 270px;
  max-height: 270px;
  min-width: var(--_piece-width, 475px);
  max-width: var(--_piece-width, 475px);
  border-radius: 10px;
  display: inline-block;

  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.679);
  
  background-size: cover;
  background-position: center;
  transition: transform .15s  cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.piece:nth-child(even):hover{
  position: relative;
  transform: scale(1.2) rotate(-2deg);
  z-index:  1000;
  box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159);
  outline: var(--cardhighlightWidth) auto var(--cardhighlightColour);
}
.piece:nth-child(odd):hover{
  position: relative;
  transform: scale(1.2) rotate(2deg);
  z-index:  1000;
  box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159);
  outline: var(--cardhighlightWidth) auto var(--cardhighlightColour);
}
.piece:hover .project-cards-text{
  opacity: 100%;
  background-color: rgba(184, 123, 16, 0.626);
}
.piece:hover{
  background-color: black;
}

.displaypiece{
  background-color: black;
  overflow: hidden;
  object-fit: cover;
  margin-left: 15%;
  min-height: 70vh;
  min-width: 70%;
  border-radius: 10px;
  display: inline-block;

  box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.679);
  
  background-size: cover;
  background-position: center;
  transition: transform .15s  cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.displayproject-cards-text{
  color: whitesmoke;
  font-size: 52px;
  word-wrap: break-word;
  text-align: center;
  top: 50%;
  height: 20vh;
  width: 100%;
  margin: auto;
  opacity: 100%;
  font-weight: bold;
  background-color: rgba(184, 123, 16, 0.626);
  transition: opacity 1s;
}
.displaypiece:hover{
  position: relative;
  transform: scale(1.05) rotate(-2deg);
  z-index:  1000;
  box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159);
  outline: var(--cardhighlightWidth) auto var(--cardhighlightColour);
}
.pidisplaypieceece:hover .project-cards-text{
  opacity: 100%;
  background-color: rgba(184, 123, 16, 0.626);
}
.displaypiece:hover{
  background-color: black;
}





a {
  text-decoration: none;
}
.project-cards-text{
  background-size: cover;
  color: whitesmoke;
  font-size: 32px;
  text-align: center;
  top: 50%;
  height: 100%;
  width: 100%;
  margin: auto;
  opacity: 0%;
  transition: opacity 1s;
  font-weight: bold;
}
.hi-myname{
  color: white;
  font-size: 45px;
  font-family: lexend;
  font-weight: bold;
  margin-left: 12vw;
  margin-bottom: 100px;
  max-width: 100vw;
}
.interactivetext{
  color: rgb(238, 255, 196);
  display: inline-block;
  transition: transform .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.interactivetext:nth-child(odd):hover {
  transform: scale(1.1) rotate(2deg);
}
.interactivetext:nth-child(even):hover {
  transform: scale(1.1) rotate(-2deg);
}
@keyframes scroll{
  to{
    transform: translate(calc(-40% - .5rem));
  }
}




/* Fill in the project images */
.project1-image{
  background-image: url('Images/Thumbnails/EggsyBanner.png');;
}
.project2-image{
  background-image: url('Images/Thumbnails/HouseOnFireThumbnail.png');
}
.project3-image{
  background-image: url('Images/Thumbnails/GameArt2.jpg');
}
.project4-image{
  background-image: url('Images/Thumbnails/HexGame.png');
}
.project5-image{
  background-image: url('Images/Thumbnails/BallisticTempThumbnail.png');
}

.project7-image{
  background-image: url('Images/Thumbnails/AppliedGames2.png');
}
.project8-image{
  background-image: url('Images/Thumbnails/Rattatouille.png');
}
.project9-image{
  background-image: url('Images/Thumbnails/PoliceGame.png');
}
.project10-image{
  background-image: url('Images/Temp/MobileGame.jpg');
}

.extraspace{
  margin-top: 100px;
}


video{
  display: inline-block;
  border-radius: 10px;
  margin: 2% 2% 2% 3%;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.679);
}
img{
  border-radius: 10px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.679);
}
.stripebg{
  opacity: 80%;
  position: absolute;
  z-index: -1;
}
.stripebg-div{
 margin-top: -100px;
 margin-right: 50vw;
}
.contactmeparent-div{
  display: flex;
  margin-left: 5vw;
  width:  110vw;
  overflow: hidden;
}
.contactmetext-div{
  width: 50%;
  height: 82vh;
  overflow: hidden;
}
.contactme-image{
  border-radius: 10px;
  height: 18%;
  width:  18%;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.679);
  margin-top: 5%;
}
.hi-myname-contact{
  margin-bottom: 30px;
  margin-right: 100px;
  font-size: 500%;
  font-weight: bold;
  text-align: left;
  max-width: 100%;
  display: inline-block;
  margin-left: 10vw;
}
.resizecontactmeicons{
  width: 250px;
}
.contactmeicons-container{
  margin-bottom: 1000px;
  margin-left: 10vw;
  width: 150%;
  align-content: center;
  display: inline-block;
}
.contactmeicons-container > * + * {
  margin-left: 30px;
}
.introduction{
  width: 70%;
  margin: auto;
  margin-bottom: 0;
}
.introduction-text{
  margin-right: 100px;
  font-size: 55px;
  font-weight: bold;
  text-align: left;
  max-width: 40vw;
  display: inline-block;
}
.aboutMe-Image {
  border-radius: 10px;
  border-width: 50px;
  border-color: #111;
  max-height: 400px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.679);
}
.aboutMe-Image-Holder{
  display: inline-block;
}
.second-text{
  font-size: 35px;
  font-family: lexend;
  font-weight: bold;
  width: 70%;
  margin: auto;
  margin-bottom: 20vh;
}

.footer-div{
  display: inline-block;
  margin-top: 10vh;
  width: 98vw;
  overflow: hidden;
  text-align: center;
  border-radius: 10px;
  position: absolute;
}
.footer{
  margin: 10px;
  margin-bottom: 10vh;
  border-radius: 10px;
  display: inline-block;
  background-color: #1f2125;
  width: 20%;
}
.footer-text{
  margin-top: 5%;
  font-size: 200%;
  text-align: center;
  font-weight: bold;
}
.header {
  color: transparent;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.clickableLink{
  display: inline-block;
  cursor: pointer;
  color: rgb(98, 98, 210);
  transition: transform .2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.resume{
  display: block;
}
.clickableLink:hover{
  text-decoration: underline;
  transform: scale(1.03) rotate(1deg);
 }


.lifelyimage{
  display: inline-block;
  transition: transform .15s  cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.lifelyimage:nth-child(even):hover{
  position: relative;
  box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159);
  z-index: 1000;
  transform: scale(1.2) rotate(-4deg);
 }
 .lifelyimage:nth-child(odd):hover{
  position: relative;
  box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159);
  z-index: 1000;
  transform: scale(1.2) rotate(4deg);
 }
 
 .image-button{
  display: inline-block;
  cursor: pointer;
  transition: transform .15s  cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.image-button:nth-child(even):hover{
  box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159);
  outline: var(--cardhighlightWidth) auto var(--cardhighlightColour);
  z-index: 1000;
  transform: scale(1.2) rotate(-4deg);
 }
 .image-button:nth-child(odd):hover{
  box-shadow: 4px 4px 10px rgba(63, 91, 133, 0.159);
  outline: var(--cardhighlightWidth) auto var(--cardhighlightColour);
  z-index: 1000;
  transform: scale(1.2) rotate(4deg);
 }

 /* Navpage */


ul {
  position: sticky;
  top: 2%;
  margin-left: 3vw;
  display: inline-block;
  border-radius: 10px;
  list-style-type: none;
  padding: 0;
  z-index: 100;
  background-color: #1f2125;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.679);
  font-weight: bold;
  overflow: hidden;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: #2d456c;
}



 /* ProjectPage */

.textandvideo{
  margin: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.project-title{
  font-family: lexend;
  font-size: 500%;
  display: block;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 2%;
}
.project-description{
  margin-top: 0;
  margin-top: 0;
  font-size: 250%;
  display: block;
  text-align: center;
  margin-left:  15%;
  margin-right: 15%;
  font-weight: bold;
}
.explanation-container {
  margin-top: 100px;
  margin-bottom: 20px;
  overflow: visible; /* Clear floats */
}
.explanation-title{
  font-size: 400%;
  font-weight: bold;
}
.displayproject-title{
  font-size: 400%;
  margin-left: 40vw;
  font-weight: bold;
}
.explanation-subtitle{
  display: block;
  font-size: 200%;
  margin: 0;
  margin-left: 5%;
  font-weight: bold;
}

.explanation-text {
  font-size: 150%;
  margin-right: 3%;
  text-align: left;
  font-weight: bold;
  margin-top: 2%;
}
.explanation-text:nth-child(odd) {
  margin-right: 5%;
}
.explanation-text:nth-child(even) {
  margin-left: 5%;
}
.explanation-image:nth-child(even):hover {
  transform: rotate(-3deg);
}
.explanation-image:nth-child(odd):hover {
  transform: rotate(3deg);
}

.explanation-image {
  width: 704px;
  height: 396px;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.679);
  margin: 20px 20px 5px 20px;
  transition: transform .15s  cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.explanation-image:nth-child(even) {
  transform: rotate(3deg);
}
.explanation-image:nth-child(odd) {
  transform: rotate(-3deg);
}
.project-link{
  text-align: center;
  margin-left: 40vw;
  font-size: 180%;
  color: rgb(0, 149, 255);
  font-weight: bold;
}
.list-title{
  margin-top: 5%;
  margin-bottom: 0%;
  font-weight: bold;
  font-size: 300%;
}
.list{
  margin-top: 0%;
  font-size: 150%;
  font-weight: bold;
}
.parent-container{
  overflow: visible;
  width: 90vw;
  margin-left: 3vw;
  margin-bottom: 20%;
}
.project-header{
  width: 50vw;
  border-radius: 10px;
  margin-left: 20vw;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.679);
}


.bg {
  background: radial-gradient(circle at center, #f4b12e, #dc981a 80%);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}
.fadeout{
  background: radial-gradient(circle at center, transparent 20%, #f4b12e 100%);
  position: absolute;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.star-pattern {
  background-image: url(Images/StarBG.png);
  background-size: 8%;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  opacity: 0.2;
  animation: pan 180s linear infinite;
}
@keyframes pan {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}



.centervideo{
  width: 100%;
  height: 100%;
}

.videoimage{
  cursor: pointer 
}